<!DOCTYPE html>
<html>
  <head>
    <title>eventbite</title>
    <meta property="og:title" content="Eventbite">
    <meta property="og:image" content="berry.jpg">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
      window.signupImage = "<%= image_url('forest.png') %>"
      window.signupImageTwo = "<%= image_url('berry.jpg') %>"
      window.signupImageThree = "<%= image_url('dubai-beach.png') %>"
      window.signupImageFour = "<%= image_url('burj.png') %>"
      window.signupImageFive = "<%= image_url('desert.png') %>"
      window.signupImageSix = "<%= image_url('compass.jpg') %>"
      window.signupImageSeven = "<%= image_url('palm-dubai.png') %>"
    </script>
    <% if current_user %>
    <script>
      window.currentUser = {
        "id": <%= current_user.id %>,
        "email": "<%= current_user.email %>",
        "first_name": "<%= current_user.first_name %>"
      }
    </script>
    
    <% end %>
  </head>

  <body>


    <%= yield %>
  </body>
</html>
