<!DOCTYPE html>
<html>
  <head>
    <title>eventbite</title>
    <meta property="og:title" content="Eventbite">
    <meta property="og:image" content="berry.jpg">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/35ef1401bc.js" crossorigin="anonymous"></script>
    <%= favicon_link_tag asset_path('favicon-32x32.png') %>
    <script type="text/javascript">
      window.logo = '<%= image_url('icons8-letter-e-26.png') %>'
      window.signupImage = "<%= image_url('forest.png') %>"
      window.signupImageTwo = "<%= image_url('berry.jpg') %>"
      window.signupImageThree = "<%= image_url('dubai-beach.png') %>"
      window.signupImageFour = "<%= image_url('burj.png') %>"
      window.signupImageFive = "<%= image_url('desert.png') %>"
      window.signupImageSix = "<%= image_url('compass.jpg') %>"
      window.signupImageSeven = "<%= image_url('palm-dubai.png') %>"
      window.eventsImg1 = "<%= image_url('palm-dubai.png') %>"
      window.eventsImg2 = "<%= image_url('palm-dubai.png') %>"
      window.eventsImg3 = "<%= image_url('palm-dubai.png') %>"
      window.eventsImg4 = "<%= image_url('palm-dubai.png') %>"
      window.eventsImg5 = "<%= image_url('palm-dubai.png') %>"
      window.eventsImg6 = "<%= image_url('palm-dubai.png') %>"
      window.eventsImg7 = "<%= image_url('palm-dubai.png') %>"
    </script>
    <% if current_user %>
    <script>
      window.currentUser = {
        "id": <%= current_user.id %>,
        "email": "<%= current_user.email %>",
        "first_name": "<%= current_user.first_name %>"
      }
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Mohave:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Mochiy+Pop+P+One&family=Mohave:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&family=Voltaire&display=swap" rel="stylesheet">
    
    <% end %>
  </head>

  <body>


    <%= yield %>
  </body>
</html>
