<!DOCTYPE html>
<html>
  <head>
    <title>EventBite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if logged_in? %>
    <form action="<%= session_url %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <button>Sign Out</button>
    </form>
  <% end %>

  <% if flash[:errors] %>
    <%= json: currentUser.errors.full_messages %>
  <% end %>

    <%= yield %>
  </body>
</html>
